<h1 class="modal-title">Hola mundo</h1>
<h2>hola q tal</h2>
<div class="row">
  <div class="col-2">

    <h3>Mi nombre es:</h3>
  </div>
  <div class="col-2">

    <h3 class="modal-title">{{nombre}}</h3>
  </div>
</div>


<h1 class="display-1">DATOS DEL los  COLABORADOR</h1>
Nombres: {{nombre}} <br>
Apellidos: {{apellidos}} <br>
Sueldo Total: {{SumaSueldo()}} <br>

Descuento total: {{calculardescuento()}}; <br>
Estado del trabajador: {{esActivo()}}

<p *ngIf=" edad>18;else menor ">Es mayor de edad</p>
<ng-template #menor>Es menor de edad</ng-template>
<table border="1">
  <tr>
    <td>Sueldos</td>
  </tr>
  <tr *ngFor="let Sueldo of sueldos">
  <td>{{Sueldo}}</td>
</tr>
<tr>
  
</tr>
</table>




<!--llamada  a metodos-->
<div>
  <p>{{contador}}</p>
  
  <button class="button" id="incre" (click)="incrementar()" >Incrementar </button>
  <button class="button" id="dec" (click)="disminuir()" >disminuir </button>

</div>

<router-outlet></router-outlet>
